*{
    background-color: whitesmoke; 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --font:"Cooper Black", Gadget, sans-serif;
}

header{
    display: flex;
    background-color: rgb(152, 100, 201);
    width: 100%;
    height: 85px;
    text-align: center;
    justify-content: center;
}

#codingHeader{
    background-color: transparent;
    font-size: 75px;
    font-family: var(--font);
}

#highscoreTimer{
    display: flex;
    justify-content: space-evenly;
}

#highscoreText{
    font-size: 35px;
    font-family: var(--font);
}

#timer{
    font-size: 35px;
    font-family: var(--font);
}

#countdown{
    font-size: 35px;
    font-family: var(--font); 
}

#questionBox{
    display: flex;
    justify-content: center;
    margin: 50px;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
   
}

#answerContainer{
    display: flex;
    margin-left: 50px;
}

#answer1{
    font-weight: bolder;
    background-color: rgb(152, 100, 201);
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-radius: 40px;
}

#answer1:hover{
 border-color: gray; 
 cursor: pointer;
}

#answer2{
    font-weight: bolder;
    background-color: rgb(152, 100, 201);
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-radius: 40px;
}

#answer2:hover{
 border-color: gray; 
 cursor: pointer;
}

#answer3{
    font-weight: bolder;
    background-color: rgb(152, 100, 201);
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-radius: 40px;
}

#answer3:hover{
 border-color: gray; 
 cursor: pointer;
}

#answer4{
    font-weight: bolder;
    background-color: rgb(152, 100, 201);
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-radius: 40px;
}

#answer4:hover{
 border-color: gray; 
 cursor: pointer;
}

#playGame{
    display: flex;
    justify-content: center;
}

#playGameButton{
    font-weight: bolder;
    background-color: rgb(152, 100, 201);
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-radius: 40px;
}

#playGameButton:hover{
    border-color: gray; 
    cursor: pointer;
}